img{
    width: 500px;
    height: 400px;
}

.verde h2 span{
    color:#2B9107;
}

.rojo h2 span{
    color:#C8011F;
}

.morado h2 span{
    color:#5A076E;
}

.darkRed h2 span{
    color:#4B0812;
}

.darkBlue h2 span{
    color:#080C52;
}

.azul h2 span{
    color:#3E73EF;
}
